venv
.vscode
.pytest_cache
src/__pycache__
test/__pycache__
ReportTool/__pycache__
test.ipynb
test.csv
test_user2.services.pdf
Services.pdf
report.pdf
openplace-report.pdf
main.py
example.pdf
.gitignore
test
resources/data
.git