{% extends "base.html" %}

{% block content %}

<section class="hero">



    <div class="hero-body">
        <div class="container is-fullwidth">
            <div class="columns is-fullwidth">

                <div class="column text-is-centered">
                    <p class="title" >Select a Company:</p>
                    <div class="select">
                        <select id="user-selector" name="user" method="GET" action="/users">
                            {% for user in users %}
                                <option value="{{user}}">{{user}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="column">
                    <div id="service-panel" class="panel has-background-white">
                        <p class="panel-heading">
                            Services
                        </p>
                        <!--
                            <div class="columns panel-block is-fullwidth is-vcentered">
                                <div class="column">
                                    <a class="panel-block is-active">
                                        <span class="panel-icon">
                                            <i class="fas fa-book" aria-hidden="true"></i>
                                        </span>
                                        Test Service
                                    </a>
                                </div>
                                <div class="column">
                                    <span class="level-right" >
                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                    </span>
                                </div>
    
                            </div>
                        -->
                        <!--
                        <div class="panel-block is-active">
                            <a class="panel-icon">
                                <i class="fas fa-book"></i>
                            </a>
                            <div class="control is-loading">
                                <input class="input is-static" type="text" placeholder="Service UUID" readonly>
                            </div>
                            <div class="container">
                                <a class="level-right" >
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        -->
                    </div>
                    <nav class="level">
                        <button class="button is-success is-outlined level-left" onclick="addService()">
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Add Row</span>
                        </button>
                        <button class="button is-danger is-outlined level-right">
                            <span>Delete Row</span>
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>
                    </nav>
                    <button class="button is-primary" onclick="save()">
                        <span class="icon is-small">
                            <i class="fas fa-check"></i>
                        </span>
                        <span>Save</span>
                    </button>
                </div>
                <div class="column">

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input id="highlight-changed" type="checkbox">
                                Highlight Changed
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input id="save-history" type="checkbox">
                                Write to history
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input id="only-changes" type="checkbox">
                                Only include changes
                            </label>
                        </div>
                    </div>

                    <button class="button is-primary" onclick ="request_report()">
                        <span class="icon is-small">
                            <i class ="fas fa-file-pdf"></i>
                        </span>
                        <span>Generate Report</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}